body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 6.5625rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

:root {
    font-family: "Noto Kufi Arabic", sans-serif !important;
    --default-padding: 1.5rem;
    direction: rtl;
    --bg-gray1: #777777;
}

/*start custom classes */

.custom-container {
    margin: auto;
    padding: 0rem calc(var(--default-padding) / 2);
}

@media(min-width : 640px) {
    .custom-container {
        max-width: 640px;
    }
}

@media(min-width : 768px) {
    .custom-container {
        max-width: 768px;
    }
}

@media(min-width : 1024px) {
    .custom-container {
        max-width: 1024px;
    }
}

@media(min-width : 1280x) {
    .custom-container {
        max-width: 1280px;
    }
}

.custom-w-100 {
    width: 100%;
}

.custom-w-fit {
    width: fit-content;
}

.custom-text-center {
    text-align: center;
}

.custom-no-decoration {
    text-decoration: none;
    color: #000;
}

.custom-overflow-hidden {
    overflow: hidden;
}

.custom-list-unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.custom-pointer {
    cursor: pointer;
}

.specical-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1*var(--default-padding)) calc(var(--default-padding) / -2) 0rem calc(var(--default-padding) / -2);
    justify-content: center;
}

.custom-row>* {
    padding: 0 calc(var(--default-padding) / 2);
    margin-top: var(--default-padding);
}

.custom-xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end custom classes */

body>div {
    background-color: #cccccc52;
}

.page-box>section {
    padding: 1rem 0;
}

.main-content {
    padding: 3rem 0;
}

.page-box {
    border-radius: 1rem;
    background-color: #fff;
    padding: 1rem;
}

.arrow-up {
    width: 40px;
    height: 40px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 99999;
    border: 2px solid #ececec;
    transition: 0.3s;
    box-shadow: 0 0 10px 0 gray;
}

.arrow-up:hover {
    transform: scale(1.1);
}

.arrow-up .fa-arrow-up {
    position: relative;
}

.arrow-up:hover .fa-arrow-up {
    top: 5px;
    animation-name: up;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

@keyframes up {
    100% {
        top: -5px;
    }
}
